@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* COLOR VARIABLES */
:root {
    --primary-color: #5f397c;
    --background-color: #bbabc0;
    --background-color2: #50366d;
    --button-color: #412250;
    --border-color: rgb(201, 201, 201);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cascadia Code, Roboto, monospace;
}

body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(120deg, var(--background-color), var(--background-color2)); 
}

/* CvinyKey text */
#title {
    margin-bottom: 1px;
    font-weight: 700s;
    font-size: 2rem;
    color: var(--primary-color);

/* Password Generator text */   
}
#title2 {
    font-size: 1.8rem;
    color: var(--primary-color);
}

/* Include the password input and options */
#container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 10px;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    background: rgb(255, 217, 247);
}

/* Password input */
#password-container {
    width: 100%;
    max-width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white;
}

/* Password input field */
#password {

    min-width: 0;
    max-width: 100%;
    padding: 8px 0px;
    font-size: 18px;
    border: none;
    outline: none;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-color);
    background-color: rgb(255, 255, 255);
}

/* Password input field on hover */
#password:hover {
    overflow: auto;
    white-space: normal;
    text-overflow: clip;
}

/* Copy button */
#copy-btn {
    padding: 0.6rem 0.8rem; 
    flex-shrink: 0;                   /* Não permita que encolha */
    max-width: 60px;
    font-size: 1.1rem;  
    font-weight: 700;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
}

/* Color change on hover */
#copy-btn:hover {
    background-color: var(--primary-color);
}

/* Options geral */
#options {
    width: 100%;
    padding: 3cap;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white;
}

/* Options checkboxes */
#options-checkboxes {
    flex-direction: column;
    border-top: 3px solid var(--border-color);
}

/* Length number */
#length {
    width: 50px;
    padding: 0.3rem 0.1rem;
    padding-left: 0.3rem;
    margin-bottom: 0.5rem;
    font-weight: 1000;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    color: var(--primary-color);
}   

#length::-webkit-inner-spin-button,
#length::-webkit-outer-spin-button {
    cursor: pointer;
    opacity: 1;
}

#length:focus {
    outline: 3px solid var(--button-color);
}


/* Length text */
#label-length {
    font-weight: 700;
    font-size: 2.5ch;
    color: var(--primary-color);
}

/* Checkboxes */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: scale(1.2); 
    cursor: pointer;
    accent-color: var(--button-color); 
  }
  
#uppercase, #lowercase, 
#numbers, #symbols {
    width: 50px;
    margin-bottom: 0.9rem;
    margin-top: 1rem;
    display : inline-block;
}

#label-upcase, #label-lowcase,
#label-num, #label-sym {
    margin-right: 0rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

/* Generate button */
#generate-btn {
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
    background-color: var(--button-color);
    color: white;
}

/* Color change on hover (Generate button)*/
#generate-btn:hover {
    background-color: var(--primary-color);
}


